body{
    background-image: linear-gradient(#FFFFFF, #7AA61C);
    min-height: 100vh;
}

#main{
    text-align: center;
}

#nav{
    background-color: #8DBF21;
    max-height: 100px;
    border-radius: 0px 0px 30px 30px;
    padding-top: 1%;
    width: 100.65%;
}

#h1{
    margin-bottom: 60px;
    margin-top: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 3em;
}

#h2{
    color: #C3D996;
    font-size: 2em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    margin-left: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    text-decoration: none;
}

#botao{
    background-color: #7AA61C;
    font-size: 1.5em;
    font-weight: 900;
    margin-right: 8%;
    margin-top: 0.5%;
    width: 24%;
    height: auto;
}

#user{
    height: 12%;
    width: auto;
}

p{
    font-weight: 600;
}

#empresa{
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 75%;
    display: flex;
    justify-self: center;
    margin-top: 2%;
    border-radius: 25px;
}

#logo{
    width: 5%;
    height: auto;
    margin-top: 1%;
}

#estrela{
    width: 5%;
    height: auto;
}
